<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/components/metas :: metas"></include>
    <include th:replace="views/components/styles :: styles"></include>

</head>
<body class="hold-transition register-page">
<div class="register-box">

    <div class="card">

        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Update Category</h3>
            </div>
            <form th:action=@{/update-category/{id}(id=${category.id})}" th:object="${category}" enctype="multipart/form-data" method="post">
                <div class="card-body">

                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Category Name:</label>
                                    <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Category Name" required>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn bg-lightblue btn-rounded">
                        <i class="fa fa-save"></i> Submit
                    </button>
                    <a th:href="@{/categories}" class="btn btn-outline-danger btn-rounded">
                        <i class="fa fa-times"></i> Cancel
                    </a>
                </div>

            </form>
        </div>

    </div>
</div>
<include th:replace="views/components/scripts :: scripts"></include>
</body>
</html>