<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <include th:replace="views/components/metas :: metas"></include>
    <include th:replace="views/components/styles :: styles"></include>

</head>
<body class="hold-transition register-page">
<div class="register-box">

    <div class="card">

        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Book</h3>
            </div>
            <form th:action="@{/add-book}" th:object="${books}" enctype="multipart/form-data" method="post">
                <div class="card-body">

                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">ISBN:</label>
                                    <input type="text" th:field="*{isbn}" id="isbn" class="form-control" placeholder="ISBN" required>
                                    <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Book Name:</label>
                                    <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Book Name" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Serial Name:</label>
                                    <input type="text" th:field="*{serialName}" id="serialName" class="form-control" placeholder="Serial Name" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Description:</label>
                                    <input type="text" th:field="*{description}" id="description" class="form-control" placeholder="Description" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Category:</label>
                                    <select class="form-control">
                                        <option th:each="row :${categories}" th:text="${row.name}"></option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Author:</label>
                                    <select class="form-control">
                                        <option th:each="row :${authors}" th:text="${row.name}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">Publisher:</label>
                                    <select class="form-control">
                                        <option th:each="row :${publishers}" th:text="${row.name}"></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn bg-lightblue btn-rounded">
                        <i class="fa fa-save"></i> Submit
                    </button>
                    <a th:href="@{/books}" class="btn btn-outline-danger btn-rounded">
                        <i class="fa fa-times"></i> Cancel
                    </a>
                </div>

            </form>
        </div>

    </div>
</div>
<include th:replace="views/components/scripts :: scripts"></include>
</body>
</html>